@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Regular.woff2') format('woff2') url('../fonts/Onest-Regular.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Thin.woff2') format('woff2') url('../fonts/Onest-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-ExtraLight.woff2') format('woff2') url('../fonts/Onest-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Light.woff2') format('woff2') url('../fonts/Onest-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Regular.woff2') format('woff2') url('../fonts/Onest-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Medium.woff2') format('woff2') url('../fonts/Onest-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-SemiBold.woff2') format('woff2') url('../fonts/Onest-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Bold.woff2') format('woff2') url('../fonts/Onest-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-ExtraBold.woff2') format('woff2') url('../fonts/Onest-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Onest';
	src: url('../fonts/Onest-Black.woff2') format('woff2') url('../fonts/Onest-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}



body {
  margin: 0;
  padding: 0;
}
.wraper{
  max-width: 1880px;
  margin: 0 auto;
}

.block{
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.search{
  width: 395px;
  border: 1px solid #DDDDDD;
  background-color: #F9F9F9;
  padding: 13px ;
  display: flex;
  align-items: center;
  border-radius: 5px;

  &_input{
    background-color: #F9F9F9;
    margin-left: 10px;
    outline: 0;
    border:0 #FFFFFF;
  }
}
.menu{
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap:15px;
  
  &_item{

    display: flex;
    align-items: center;
    &-icon{
    
      position: relative;
      &-index{
        position: absolute;
        top: -8px;
        left: 18px;
        width: 20px;
        height: 20px;
        background-color: #4B79E0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        size: 12px;
      }
    }
    &-title{
      margin-left: 10px;
    }
  }
  &_burger{
    display: flex;
    align-items: center;
  }

}
.account{
  display: flex;
  width: 194px;
  align-items: center;
  &-icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  &-name{
    color: #111827;
    size: 18px;
  }
  &-role{
    color: #A4A4A4;
    size: 16px;
  }
}
.crumbs{
  margin-top: 15px;
  height: 45px;
  border-bottom: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  
  &-container{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &_item{
    display: flex;
    align-items: center;
    size:18px;
    color: #A4A4A4 ;
    &:last-child {
      p {color: #4B79E0;}
      
    }
    &-title{
      size:18px;
      color: #A4A4A4 ;
      padding: 0 10px;
    }
  }
}
.region{
  margin-top: 20px;
  &-header{
    display: flex;
    justify-content: space-between;
    &-title{
      size: 45px;
      color: #111827;
    }
  }
  &_body{
   display: flex;
   justify-content: space-between;
  }
  &_works{
    padding: 0 28px;
    border-radius: 10px;
    border: 1px solid #F9F9F9;
    background-color:  #F9F9F9;
    height: 188px;
    width: 100%;
    &-item{
      &-header{
        display: flex;
        justify-content: space-between;
        p{
          margin-top: 25px;
          margin-bottom: 13px;
          color:  #111827;
          font-family: Onest;
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: 112.1%; 
          &:last-child{
            color:  #4B79E0;
          }
        }
      }
      &-progres{
        width: 100%;
      }
    }
  } 
  &_documents{
    width: 606px;
    margin-left: 30px;
    &-rows{
      display: flex;
      justify-content: space-between;
      &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F5FF;
        border-radius: 5px;
        width: 330px;
        &:nth-child(2){
          width: 266px;
          margin-left: 10px;
        }
        p{
          margin-left: 15px;
          font-family: Onest;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 112.1%;
          color: #111827;
        }
      }
    }
    &-item{
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      border-radius: 5px;
      border: 1px solid #DDDDDD;
      svg{
        margin-left: 20px;
      }
    }
  }

}
.chapter_filter{
  &-block{
    margin-top: 28px;
    border-top: 2px solid #DDDDDD;
    padding: 28px 0 25px;
  }
  &-chapter{
    display: flex;
    gap: 10px;
    &-item{
      border-radius: 5px;
      border: 1px solid #DDDDDD;
      display: flex;
      align-items: center;
      padding: 10px 14px 10px 10px;
      
      h4{
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 112.1%; 
        
        border-radius: 2px;
        background-color: #F0F5FF;
        color: #4B79E0;
        margin: 0;
        width: 27px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      p{
        color: #797979;
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 112.1%; 
        padding: 0 13px;
        margin: 0;
      }
      &:hover{
        border: 1px solid #4B79E0;
        cursor: pointer;
        h4{
          background-color: #4B79E0;
          color: #FFFFFF;
        }
        p{
          color: #4B79E0;
        }
      }
    }
  }
  &_facilities-tasks{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  &_facilities{
    display: flex;
    gap: 10px;
    &-item{
      border-radius: 5px;
      border: 1px solid  #DDDDDD;
      background:  #F9F9F9;
      height: 50px;
      min-width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(4){
        background-color: #4B79E0;
        width: 192px;
      }
      .search{
        width: 272px;
        height: 25px;
      }
      p{
        margin-left: 10px;
        color: #FFFFFF;
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 112.1%;
      }
    }
  }
  &_tasks{
    padding: 3px;
    background:  #F9F9F9;
    display: flex;
    gap: 5px;
    &-item{
      padding: 15px 11px;
      border-radius: 6px;
      display: inline-flex;
      p{
        margin: 0;
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 112.1%; 
        color: #797979;
        &:nth-child(2){
          margin-left: 10px;
        }
      }
      &:hover{
        background:#FFF;
        box-shadow: 0px 0px 16.6px 0px rgba(179, 179, 179, 0.25);
        cursor: pointer;
        p{
          color: #4B79E0;
        }
      }
    }
  }
}
.cards{
  border-top: 2px solid #DDDDDD;
  background-color: #F9F9F9;
  padding: 30px 0 40px;
  &_block{
    display: flex;
    justify-content: space-between;
    gap: 19px;
    &-card{
      width: 459px;
      height: 549px;
      background-color: #FFFFFF;
      border: 1px solid  #DDDDDD;
      border-radius: 10px;
      &-header{
        height: 34px;
        border-radius: 0px 0px 9px 9px;
        background: #F0F5FF;
        display: flex;
        align-items: center;
        svg{
          margin: 0 0 0 7px;
        }
        p{
          margin: 0 0 0 3px;
          color: #4B79E0;
        }
      }
      &-title{
        display: flex;
        padding: 30px 25px 25px;
        justify-content: space-between;
        align-items: center;
        h3{
          color: #111827;
          font-family: Onest;
          font-size: 35px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }
        p{
          color: #797979;
          font-family: Onest;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
        }
      }
      &-works{
        padding: 0 24px;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        height: 128px;
        
        &-item{
          &-header{
            display: flex;
            justify-content: space-between;
            p{
              margin-top: 10px;
              margin-bottom: 0;
              color:  #111827;
              font-family: Onest;
              font-size: 25px;
              font-style: normal;
              font-weight: 400;
              line-height: 112.1%; 
              &:last-child{
                color:  #4B79E0;
              }
            }
          }
          &-progres{
            width: 100%;
          }
        }
      } 
      &-dynamics{
        padding: 12px 20px 25px;
        &-item{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #DDDDDD;
          align-items: center;
          height: 32px;
          &-color{
            width: 25px;
            height: 16px;
            border-radius: 14px;
            background: #67A25E;
          }
          p{
            margin: 0 0 0 10px;
            color: #111827;
            font-family: Onest;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            flex: 10;
          }
        }
      }
      &-end{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        &-avatars{
          position: relative;
          display: flex;
        }
        &-avatar{
          position: absolute;
          width: 54px;
          height: 54px;
          border-radius: 54px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(2){
            left:  25px;
          }
          &:nth-child(3){
            left:  50px;
          }
          &:nth-child(4){
            left:  75px;
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
          }
        }
        &-tasks{
          border-radius: 5px;
          background: #F0F5FF;
          width: 170px;
          height: 51px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          p {
            margin: 0;
            color: #111827;
            font-family: Onest;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}